<section class="section-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <mat-card>
          <h1 class="text-center">{{ formTitle }}</h1>
          <form #changePasswordForm="ngForm">
            <div class="example-container">
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput
                ngModel #passwordInput
                required name="password">
                <mat-error *ngIf="passwordInput.invalid">
                  <span>
                    Enter a valid Password.
                  </span>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput
                ngModel #rePasswordInput
                required name="password">
                <mat-error *ngIf="rePasswordInput.invalid">
                  <span>
                    Enter a valid Password.
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            <button type="submit" mat-raised-button color="primary"
            [disabled]="changePasswordForm.invalid">
              Chande Password
            </button>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</section>
